{# templates/news/public/unsubscribe_confirmed.html #}
{% extends "base.html" %}
{% block page_header %}You’re Subscribed{% endblock %}
{% block content %}
  <div class="alert alert-success">
    You have been subscribed to <strong>{{ subscription.newsletter.title }}</strong>.<br />
  with email: <strong>{{ subscription.email }}</strong>
  </div>

    {% if user.is_authenticated and user.email != subscription.email %}
    <div class="alert alert-warning">
        You are signed in as <strong>{{ user}} with email{{ user.email }}</strong>.<br />
        Your subscriptions are managed separately.
    </div>
    {% endif %}
  <p>
    You can unsubscribe at any time.
    <a href="{% url 'news:manage-subs' %}" class="btn btn-outline-primary btn-sm">Manage subscriptions</a>
  </p>
{% endblock %}
