{% extends "base.html" %}

{% block title %}Manage Subscription{% endblock %}

{% block page_header %}Subscription to {{ newsletter }}{% endblock %}
{% block content %}

    {% if subscription.unsubscribe_date %}
        <p>Your subscription is inactive since {{ subscription.unsubscribe_date }}.</p>
                <p>Number of issues since you subscribed: {{ subscription.sent_since_unsubscribed }}</p>
        <button id="subscribe-btn" class="btn btn-primary mt-2">ReSubscribe</button>
    {% else %}
        <p>Your subscription is active since {{ subscription.subscribe_date }}.</p>
        <p>Number of issues since you subscribed: {{ subscription.sent_since_subscribed }}</p>
        <button id="unsubscribe-btn" class="btn btn-outline-danger mt-2">Unsubscribe</button>
        <a href="{{ next }}" class="btn btn-primary mt-2">Keep Subscription</a>
    {% endif %}




{% endblock %}

{% block js %}
    <script>
        $(function() {



            $("#subscribe-btn").on("click", function() {
                const email = $("#newsletter-email").val();
                const name = $("#newsletter-name").val();

                $.ajax({
                    method: "PATCH",
                    url:  SKORIE_API + "/api/v2/news/subscription/{{ subscription.pk }}/subscribe_me/",
                    contentType: "application/json",

                    success: function(resp) {
                        document.location.href = "{{ next }}";
                    },
                    error: function(xhr) {
                        console.log("Update subscription failed.");
                    }
                });
            });

            $("#unsubscribe-btn").on("click", function() {
                $.ajax({
                    method: "PATCH",
                    url:  SKORIE_API + "/api/v2/news/subscription/{{ subscription.pk }}/unsubscribe_me/",
                    contentType: "application/json",

                    success: function(resp) {
                        document.location.href = "{{ next }}";
                    },
                    error: function(xhr) {
                        console.log("Update subscription failed.");
                    }
                });
            });
        });
    </script>
{% endblock %}
