{% extends "base.html" %}
{% load i18n %}
{% load bootstrap5 %}

{% block title %}{% trans "Newsletter subscribe" %}{% endblock title %}

{% block page_header %}{% trans "Newsletter subscribe" %} {{ newsletter.title }}{% endblock %}
{% block content %}
 {% if error %}
        <p>{% trans "Due to a technical error we were not able to submit your confirmation email. This could be because your email address is invalid." %}</p>

        {% comment %} Replace the the following dummy with a valid email address and remove this comment.

        <p>{% trans "If the error persists, please don't hesitate to contact us at the following email address:" %} <a href="mailto:info@foobar.com">info@foobar.com</a></p>

        {% endcomment %}
    {% else %}
        <form enctype="multipart/form-data" method="post" action=".">
            {% csrf_token %}
        {% bootstrap_form form %}

              {% if form.email.errors %}
    {% for error in form.email.errors %}


      {% if "belongs to a user with an account on this site" in error %}
        <a href="{% url LOGIN_URL %}?email={{ form.data.email|urlencode }}&next={{ request.path }}"
           class="btn btn-primary">
          Log in to subscribe
        </a>
      {% endif %}
    {% endfor %}
  {% endif %}

        <input id="id_submit" name="submit" value="{% trans "Subscribe" %}" type="submit" class="btn btn-primary" />
        </form>
    {% endif %}
{% endblock  %}
