{% extends "skorie_news/common.html" %}

{% load i18n %}

{% block title %}{% trans "Newsletter archive" %}{% endblock title %}

{% block body %}
<table class="table table-hover">
    <tr>
        <th>{% trans "Newsletter archive" %} {{ newsletter.title }}</th>
    </tr>
    {% for mailing in latest %}
    <tr>
        <td><a href="{{ mailing.get_absolute_url }}">{{ mailing }}</a></td>
    </tr>
    {% endfor %}
    <tr>
        <td><a href="../">{% trans "Back to list" %}</a></td>
    </tr>
</table>
{% endblock body %}
