{# templates/news/admin/article_list.html #}
{% extends "admin/newsletter_base.html" %}

{% block page_header %}Articles{% endblock %}

{% block content %}
  <a href="{% url 'news:article-new' %}" class="btn btn-primary mb-3">New Article</a>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Template?</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
        <tr>
          <td>{{ article.title }}</td>
          <td>{% if article.is_template %}✅{% endif %}</td>
          <td>{{ article.created|date:"SHORT_DATE_FORMAT" }}</td>
          <td><a href="{% url 'news:article-edit' article.pk %}" class="btn btn-sm btn-outline-primary">Edit</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
