{% extends "admin/newsletter_base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block page_header %}{{ object|default:"New Article" }}{% endblock %}



{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}

        <h4>Attachments</h4>
        {{ formset.management_form }}
        {% for f in formset %}
            <div class="border p-2 mb-2">
                {% bootstrap_form f %}
                {% if f.instance.pk %}
                    <label>{{ f.DELETE }} Delete</label>
                {% endif %}
            </div>
        {% endfor %}

        <div class="d-grid gap-2 d-md-flex justify-content-md-between">
            <a href="{% url 'news:article-list' %}" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>



    </form>
{% endblock %}


{% block js %}
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <script>
        // Enhance any textarea with TinyMCE
        $(function () {
            if (typeof tinymce !== 'undefined') {
                tinymce.init({
                    selector: 'textarea, .js-wysiwyg',
                    menubar: false,
                    plugins: 'link lists preview code autoresize',
                    toolbar: 'undo redo | styles | bold italic underline | bullist numlist | link | code | preview',
                    height: 400,
                    branding: false,
                    convert_urls: false
                });
            }
        });
    </script>
{% endblock %}
