{% extends "skorie_news/admin/newsletter_base.html" %}
{% load static %}

{% block page_header %}Manage Articles for {{ message.title }}{% endblock %}

{% block content %}

  <a href="{% url 'newsletter:article-create' message.pk %}" class="btn btn-primary mb-3">Add New Article</a>

  <ul id="article-list" class="list-group">
    {% for article in articles %}
      <li class="list-group-item d-flex justify-content-between align-items-center" data-id="{{ article.pk }}">
        <span>{{ article.title }}</span>
        <span>
          <a href="{% url 'news:article-update' article.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
          <a href="{% url 'news:article-delete' article.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
        </span>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block js %}
<script src="{% static 'js/sortable.min.js' %}"></script>
<script>
  {#// Use Sortable.js or jQuery UI Sortable for drag-drop ordering#}
  {#new Sortable(document.getElementById("article-list"), {#}
  {#  onEnd: function (evt) {#}
  {#    let ids = [];#}
  {#    $("#article-list li").each(function(){ ids.push($(this).data("id")); });#}
  {#    $.post("{% url 'news:article-reorder' message.pk %}", {#}
  {#      order: ids,#}
  {#      csrfmiddlewaretoken: "{{ csrf_token }}"#}
  {#    });#}
  {#  }#}
  {#});#}
</script>
{% endblock %}
